.auth-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 15px; /* Adjust the space between buttons */
}

/* Additional styling for buttons (optional) */
.auth-buttons button {
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
body {
  margin: 0px;
}

.app {
  height: 100vh;
}

/*Home styling begins*/

.logo {
  width: 150px;
  align-self: center;
  margin-left: 40px;
  margin-top: 20px;
}

.signup-button {
  height: 50px;
  width: 100px;
  align-self: center;
  border: none;
  color: #395375;
  background-color: white;
  font-family: 'Inter';
  font-size: 16px;
}

.signup-button:hover {
  background-color: #395375;
  color: white;
}

.login-button {
  height: 50px;
  width: 100px;
  align-self: center;
  border: none;
  background-color: #395375;
  color: white;
  font-family: 'Inter';
  font-size: 16px;
}

.login-button:hover {
  color: #395375;
  background-color: white;
}

.home-img {
  width: 350px;
  padding-top: 20px;
  align-self: top;
  justify-self: right;
  padding-right: 50px;
}

.home-container {
  display: grid;
  grid-template-rows: 50px 93px 1fr 76% 1fr 76.5px;
  height: 100%;
}

.home-top {
  /* border: #000000 solid 2px; */
  background-color: #395375;
}

.home-bar {
  /* border: #000000 solid 2px; */
  display: grid;
  grid-template-columns: 150px 1fr 120px 120px 120px 120px;
}

.home-img-text {
  /* border: #000000 solid 2px; */
  display: grid;
  grid-template-columns: 500px 900px 1fr;
}

.home-title-text {
  margin-top: 20px;
  font-family: 'Courier Prime';
  font-size: 55px;
  margin-bottom: 0px;
}

.home-para-text {
  font-family: 'Inter';
  font-size: 20px;
}

.home-bottom {
  /* border: #000000 solid 2px; */
  display: grid;
  grid-template-columns: 100px 1fr 200px 250px;
  background-color: #395375;
  margin: 0px;
}

.home-bottom-text {
  align-self: center;
  font-size: 18px;
  margin-left: 10px;
  font-family: 'Courier Prime';
  color: white;
}

.bottom-filler {
  background-color: #395375;
}

/*Quotes styling begins*/
.launch-container {
  display: grid;
  grid-template-rows: 50px 93px 70% 75px 77px;
  height: 100vh;
}

.logout-button {
  height: 50px;
  width: 100px;
  align-self: center;
  border: none;
  background-color: #395375;
  color: white;
  font-family: 'Inter';
  font-size: 16px;
}

.logout-button:hover {
  color: #395375;
  background-color: white;
}

.launch-img {
  width: 430px;
  align-self: top;
  justify-self: center;
}


.link {
  align-self:center;
  text-decoration: none;
  font-family: 'Inter';
  font-size: 16px;
  text-align: center;
  margin: 0px;
  width: 100px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.moods {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 400px 100px 1fr;
  font-family: 'Inter';
  font-size: 18px;
}


.link:hover {
  background-color: #395375;
  color: white;
}

.slider {
  position: absolute;
  left: -300px;
  transition: 1s;
  display: grid;
  grid-template-columns: 300px 50px;
  top: 25%;
  height: 400px;
  width: 350px;
}

.slider:hover {
  transition: 1s;
  left: 0;
}

.tab {
  align-self: center;
  height: 100px;
  border-bottom: 50px solid transparent;
  border-Top: 50px solid transparent;
  border-left: 30px solid #395375;
}

.instruction-text {
  background-color: #536f94;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.instruction-title {
  font-family: Courier Prime;
  font-size: 37px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.instruction-desc {
  padding-left: 15px;
  padding-right: 15px;
  font-family: inter;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.input {
  outline: none;
  width: 400px;
  font-size: 1.5em;
  border: solid #395375 3px;
  border-radius: 5px;
  justify-self: center;
  font-family: inter;
}

.submit-button {
  height: 50px;
  width: 100px;
  align-self: center;
  color: #395375;
  background-color: white;
  border:solid #395375 2px;
  font-family: 'Inter';
  font-size: 16px;
}

.submit-button:hover {
  border: none;
  background-color: #395375;
  color: white;
}


/* animation css */
#container {
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
  justify-self: center;
  margin-bottom: 10px;
}

.static {
  background: url("./assets/rolodex_static.gif");
}

.play {
  background: url("./assets/rolodex-gif.gif");
}

.card {
  width: 245px;
  height: 125px;
  margin-top: 50px;
  margin-left: 102px;
  border-radius: 5px;
  /*border: #FFFFFF 2px solid;*/
  background-color: #729cb3;
  animation: fade-in 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.name {
  padding-top: 55px;
  padding-left: 10px;
  margin: 0px;
  font-size: 20px;
}

.quote {
  margin: 0px;
  padding-top: 5px;
  padding-left: 10px;
  color: #FFFFFF;
  font-size: 10px;
}

/* profile styling starts */
.profile-container {
  display: grid;
  grid-template-rows: 50px 50px 1fr 77px;
  height: 100vh;
}

.profile-box {
  margin: 0px;
  border: solid black 2px;
  width: 500px;
  height: 450px;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-rows: 210px 75px 75px 75px;
  background-color: #395375;
}

.user-picture {
  width: 185px;
  margin-top: 20px;
  justify-self: center;
  border-radius: 100%;
  margin-bottom: 0px;
}

.profile-text {
  font-family: inter;
  font-size: 20px;
  color: white;
  font-weight: bold;

}

.profile-info {
  font-family: inter;
  font-size: 19px;
  color: white;
  align-self: center;
  padding-bottom: 12px;
}

.info-box {
  margin-left: 25px;
  display: grid;
  grid-template-columns: 120px 1fr;
}

.info-box-2 {
  margin-left: 25px;
  display: grid;
  grid-template-columns: 75px 1fr;
}

/* chart styling starts */
.chart-container {
  display: grid;
  grid-template-rows: 50px 50px 50px 1fr 77px;
  height: 100vh;
}

.mood-container {
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr 150px 150px 150px 150px 150px 1fr;
}

.vnegative-square {
  height: 30px;
  width: 30px;
  align-self: center;
  justify-self: center;
  background-color: #942222
}

.negative-square {
  height: 30px;
  width: 30px;
  align-self: center;
  justify-self: center;
  background-color: #ab6129
}

.neutral-square {
  height: 30px;
  width: 30px;
  align-self: center;
  justify-self: center;
  background-color: #ab8f29;
}

.positive-square {
  height: 30px;
  width: 30px;
  align-self: center;
  justify-self: center;
  background-color: #29ab57;
}

.vpositive-square {
  height: 30px;
  width: 30px;
  align-self: center;
  justify-self: center;
  background-color: #2993ab;
}

.buttons {
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: 30px 100px;
  width: 130px;
}

.buttons p {
  padding-left: 10px;
  font-family: inter;
}

.calendar {
  display: grid;
  margin-top: 45px;
  width: 1050px;
  height: 360px;
  grid-template-rows: repeat(12, 30px);
  grid-template-columns: repeat(30, 30px);
  border: solid black 2px;
  align-self: center;
  justify-self: center;
  align-items: center;
}


.month {
  align-self: center;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

